/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 29 Nov 2021, 14:58:23
    Author     : meabh
*/

body{
    margin: 0;
    padding: 0;
    background-color: #333333;
    font-family: 'Nunito', sans-serif;
}

#container{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 5% 1fr 5%;
    grid-template-rows: 10% 5% 1fr 5%;
    grid-template-areas:    "header header header"
                            "nav nav nav"
                            ". main ."
                            "footer footer footer";
}

header{
    grid-area: header;
    background-color: #3D52D5;
}

header h1{
    color: #FFFFFF;
    margin: 0;
    padding: 0;
}

header .darkmode{
    
}

nav{
    grid-area: nav;
    background-color: #3D52D5;
}

nav #menu{
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

nav #menu li{
    position: relative;
}

nav #menu li a{
    display: block;
    padding: 0 5px 0 5px;
    height: 20px;
    text-decoration: none;
    color: #FFFFFF;
}

nav #dropdown{
    padding: 0;
    margin: 0;
    list-style: none;
    position: absolute;
    width: 100px;
    max-height: 0;
    transition: max-height .5s;
    overflow: hidden;
}

nav #dropdown li a{
    height: 20px;
    color: #FFFFFF;
    background: #0F94D2;
}

nav #menu li:hover{
    background-color: #0F94D2;
}

nav #menu li:hover > ul{
    max-height: 200px;
}

main{
    grid-area: main;
    color: #FFFFFF;
    background-color: #333333;
}

footer{
    grid-area: footer;
    background-color: #3D52D5;
}