/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 22 Dec 2021, 14:40:11
    Author     : meabh
*/
main img{
    border-radius: 20px;
}

#movieHeading{
    display: flex;
}

#movieHeadingInfo{
    display: grid;
    grid-template-columns: 20px 1fr 1fr;
    grid-auto-rows: 1fr 1fr 1fr;
    grid-template-areas:    ".  title       tile"
                            ".  table1      table2"
                            ".  description description"
}

#movieHeadingInfo h2{
    grid-area: title;
    font-size: 300%;
}

#infoTable1{
    grid-area: table1;
    display: flex;
}

#infoTable2{
    grid-area: table2;
    display: flex;
}

#description{
    grid-area: description;
    margin: 20px 0 0 0;
}

.tableHeadings{
    display: flex;
    flex-direction: column;
    margin: 0 10px 0 0;
    font-weight: 400;
}

.tableInfo{
    display: flex;
    flex-direction: column;
    font-weight: 700;
}



#content{
    display: flex;
    flex-flow: column;
    margin: 20px 20px 0 20px;
}

h3{
    font-size: 150%;
    text-decoration: underline;
    text-decoration-color: #D17A22; 
}

#content p{
    margin: 0 0 5px 0;
}

#cast{
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
}

.actor{
    width: 50%;
    display: flex;
    margin: 0 0 10px 0;
}

.nameAndRole{
    display: flex;
    flex-flow: column;
    margin: 0 0 0 10px;
    justify-content: center;
}

.name{
    font-weight: 700;
}

.role{
    font-size: 85%;
    font-style: italic;
}

#trailer{
    display: flex;
    justify-content: center;
}